.primary-color {
  color: #fff;
}
.secondary-color {
  color: #676f9d;
}
h2 {
  font-size: 40px;
}
h3 {
  font-weight: 400;
  font-size: 25px;
}
h1,
.submit-button,
h2 {
  font-weight: 600;
}
html {
  background-color: #2d3250;
  color: #fff;
  font-family: "Raleway";
  font-weight: 400;
  text-align: center;
}
#register-form {
  width: 80%;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #424769;
  display: flex;
}
#register-form > .form-content {
  width: 50%;
  padding: 20px;
}

input {
  width: 90%;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
  height: 40px;
  margin: 2px 0px;
  border: none;
  background-color: #676f9d;
  color: #fff;
  font-size: 18px;
}
input:focus {
  border-left: 3px solid #f9b17a;
  padding-left: 7px;
  outline: none;
}
.submit-button {
  background-color: #f9b17a;
  color: black;
  box-shadow: 0 0 10px 1px white; /* Adjust spread radius and blur radius for intensity */
  padding: 5px 10px;
  border: none;
  width: 50%;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.signup-button {
  margin-top: 20px;
}
.form-content-area-2 {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding: 10px 0px;
  align-items: center;
  font-size: 11px;
  margin-bottom: 30px;
}
.form-checkbox {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.form-checkbox label {
  min-width: 90%;
  text-align: left;
}
.form-content {
  width: 50%;
  margin: 80px 0;
}
.form-content-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: auto;
}
img {
  height: 100%;
  width: 100%;
}
.form-image {
  width: 50%;
}
input::placeholder {
  color: #fff; /* Placeholder text color */
}
.form-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 18px;
}
.form-toggle-btns {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-bottom: 110px;
}
.active-tab {
  border-bottom: 2px solid #f9b17a;
  color: #fff;
}
.social-media-wrapper {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}
.social-media-wrapper svg {
  height: 35px;
  width: 35px;
  fill: #676f9d;
  cursor: pointer;
}
.social-media-wrapper > span {
  font-size: 15px;
}
.icon-wrapper {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

@media only screen and (max-width: 1100px) {
  .form-toggle-btns {
    width: 60%;
  }
}
@media only screen and (max-width: 480px) {
  .form-image {
    display: none;
  }
  .form-content {
    min-width: 100%;
  }
  .form-toggle-btns {
    margin-bottom: 0px;
  }
  .icon-wrapper{
    width: 50%;
  }
}
